version: "3.9"

services:
  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile.backend
    container_name: credit_s_back
    ports:
      - "8000:8000"
    volumes:
      - ./Backend:/app
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile.frontend
    container_name: credit_s_front
    ports:
      - "8501:8501"
    depends_on:
      - backend